@media (max-width: 1200px){
      /*  The fourth section style*/
      .sec4-container {
        padding: 48px 0px;
    }
    .single-block {
        width: 32.7%;
    }
 /* .header-flex{
        justify-content: space-between;
    } 
    .sec1-text-wraper {
        gap: 0.75rem;
      }
    .sec1-text-wraper h2 {
        font-family: 'Nunito-bold', sans-serif;
        font-size: 3rem;
        line-height: 4rem;
        color: #000000;
        width: 79%;
        padding-top: 5.25rem;
    }  */
}

@media(max-width:992px){
 
    .burger-bar{
        display: block;
    }
    .burger-bar.active .burger-line:nth-child(2){
        opacity: 0;
    }
    .burger-bar.active .burger-line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger-bar.active .burger-line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-ul-items{
        position: fixed;
        left: -100%;
        top: 8.4rem;
        gap: 0;
        flex-direction: column;
        background-color: #1f1e1e ;
        width: 100%;
        height: 25%;
        justify-content: space-evenly;
        text-align: center;
        transition: 0.5s;
    }
    .nav-ul-items.active{
        left: 0;
    }
      /* First Section  */
    .sec1-wraper{
        padding-right: 1.25rem;
        padding-top: 8.25rem;
    }
    /* Third section */
   
    .sec3-content-wrapper {
        flex-direction: column;
        align-items: center; 
        width: 90%; 
        margin: 0 auto; 
        }
      
    .sec3-pic {
        width: 50%;
        text-align: center; 
        }
      
    .form-wrapper {
        width: 50%;
        max-width: none; 
        }
      
      
}

@media (max-width:768px){
    .sec1-wraper{
        padding-bottom: 1.563rem;
    }
    
    /* section 04 */
    .sec4-container {
        padding: 24px 0;
        justify-content: center;
        gap: 16px;
    }
    .single-block:nth-child(3) {
        display: none;
      }
    .single-block {
        width: 46%;
    }
}





@media(max-width:576px){
       
       /* first section possibly */
       .sec1-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 1rem;
      }
  

      /* thied section */
      .sec3-content-wrapper {
        width: 90%; 
        margin: 0 auto; 
        }
      
    .sec3-pic {
        width: 100%;
        text-align: center; 
        }
      
    .form-wrapper {
        width: 100%;
        max-width: none; 
        }
/* fourth section */
    .single-block:nth-child(3),
    .single-block:nth-child(2) {
    display: none;
  }
    .single-block {
        width: 90%;
        margin: 0 auto;
      }
}
