.header-wraper{
    background-color: #fff3e4;
    width: 100%;
    height: auto;
     position: fixed;
    z-index: 9999; 
}
.header-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}
.nav-ul-items{
    display: flex;
    width: 100%;
    gap: 2.6rem;
}
.nav-a{
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #747373
}
.burger-bar{
   display: none; 
   cursor: pointer;
}
.burger-line {
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto; 
    transition: all 0.2s ease-in-out;
    background-color: #e1aa67 ;
  }
  
  /* First section style */

 .sec1-wraper{
    background-image: url("../images/image-sec1.jpg");
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%;
    padding-right: 363px;
    padding-top: 154px;
}

.sec1-info-wraper{
    display: flex;
    height: auto;
    gap: 2rem;
    width: 18rem;
    flex-wrap: wrap;
    margin-left: auto;
} 
.sec1-text-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}  
.sec1-text-wraper h2 {
    font-family: 'Nunito-bold', sans-serif;
    font-size: 4rem;
    line-height: 5.82rem;
    color: #000000;
    width: 79%;
}
.sec1-text-wraper span,
.form-wrapper span,
.text-sec4 span {
    color: #f0972b;
}

.sec1-text-wraper  p {
    font-family: 'Nunito-bold', sans-serif;
    font-size: 1rem;
    line-height: 1.364rem;
    color: #000000;
    width: 100%;
} 

.btn-reserve{
    width: 10rem;
    border: #f0972b 1px solid;
    border-radius: 7px;
    padding: 9px 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 21.82px;
    color: #f0972b
}
.sec1-contact a, 
.sec1-contact{ 
    color: #747373;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 21.82px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

/*  Second section*/
.sec2-wrapper{
    background-color: #e1aa67;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 71px;
    text-align: center;
}

.splide__slide img{
    width: 500px;
    height: 591px;
    object-fit: cover;
}   
.sec2-wrapper h2 {
    font-family: 'Nunito-bold', sans-serif;
    font-size: 1.875rem;
    line-height: 2.558rem;
    color: #000000;
    margin: 0 auto;
    padding-bottom: 1.625rem;
}
.sec2-wrapper span{
    color: #f2f2f2;
}
.btn-order{
    width: 10rem;
    border: #f0972b 1px solid;
    border-radius: 7px;
    padding: 9px 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 21.82px;
    color: #f0972b;
    margin: 1.625rem;
}
  /* Third Section */
  .sec3-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 9.688rem 0;
  }
  
  .sec3-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      251.48deg,
      #f1dab9 -0.78%,
      rgba(255, 234, 205, 0.156036) 88.58%,
      rgba(255, 255, 255, 0) 100.75%
    );
    z-index: -1;
  }
  .sec3-flex-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .sec3-content-wrapper{
    max-width: 55.125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .form-wrapper{
      width:50%;
      background-color: #ffffff;
      text-align: center; 
  }
   .sec3-pic img {
    max-width: 100%;
    height: auto;
  } 
  .actual-form {
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .actual-form .actual-form-div {
    width: 90%;
    position: relative;
  }
  .input-icon {
    position: absolute;
    top: 40%;
    right: 1rem;
    transform: translateY(-50%);
  }
  
  .input-icon i {
    cursor: pointer;
  }
  
  .actual-form input
   {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #D9D9D9;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.364rem;
    color: #747373;
  }
  #email-field:focus {
    outline: none;
  }
  

  .btn-send{
    width: 90%;
    max-width: 26.922rem;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 21.82px;
    color: #f0972b;
    border: #f0972b 1px solid;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 15px;
  }
  .form-wrapper h2{
    font-family: 'Nunito-bold', sans-serif;
    font-size: 1.875rem;
    line-height: 2.558rem;
    color: #747373;
    margin: 0 auto;
    padding: 1.625rem;
    text-align: center; 
  }

   .error-text {
    color: red;
    font-family: "Nunito";
    font-size: 0.7rem;
    align-items: baseline;
    margin-bottom: 0;

  }

  /* fourth Section */

.sec4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.5rem 0px;
  margin: 0 auto;
  background-color: #1f1e1e;
}
/* .blocks-see-more{
  display: none;
  display: flex; //esec komentaria
  justify-content: space-between;
  gap: 1.5rem;
} */
.blocks {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.single-block {
  width: 24rem;
  height: 28rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
}

.see-more-container {
  margin-top: 1.5rem;
  text-align: center;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.364rem;
  color: #747373;
}

.user img {
  border-radius: 50%;
  object-fit: cover;
}
.btn-see-more{
  width: 10rem;
  border: #f0972b 1px solid;
  border-radius: 7px;
  padding: 9px 14px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 21.82px;
  color: #f0972b;
  margin: 1.625rem;
}

.text-sec4 h2 {
  font-family: 'Nunito-bold', sans-serif;
  font-size: 1.875rem;
  line-height: 2.558rem;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 1.625rem;
}

/* 5th section */
/* .sec5-wrapper{
  background-image: url("../images/bgimagee.jpg");
  background-size: cover;
  background-position: center;
  height: 77vh;
  width: 100%;
  padding-right: 363px;
  padding-top: 154px;
}

.sec-5text{
  display: flex;
  height: auto;
  gap: 2rem; */
  /* width: 18rem; */
  /* flex-wrap: wrap;
  gap: 1.5rem;
} 
.sec-5text h2 {
  font-family: 'Nunito-bold', sans-serif;
  font-size: 4rem;
  line-height: 5.82rem;
  color: #ffffff;
  width: 79%;
}
.sec-5text p {
  font-family: 'Nunito-bold', sans-serif;
  font-size: 1rem;
  line-height: 1.364rem;
  color: #ffffff;
  width: 100%;
}  */

.sec5-wrapper {
  background-image: url("../images/bgimagee.jpg");
  background-size: cover;
  background-position: center;
  height: 77vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-5text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 400px;
  padding: 0 1rem;
}

.sec-5text h2 {
  font-family: 'Nunito-bold', sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.sec-5text p {
  font-family: 'Nunito-bold', sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #ffffff;
}
